@import '../../styles/variables';
@import '../../styles/mixin';

.information {
  background-color: $white;
  padding: $spacing-160 0;

  .information-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $spacing-160;
    align-items: center;
    max-width: $break-2xl;
    margin: 0 auto;

    .left {
      p {
        margin: $spacing-040 0;
      }
    }

    .right {
      img {
        width: 100%;
      }
    }
  }

  @media only screen and (max-width: $break-lg) {
    .information {
      .left,
      .right {
        max-width: 40%;
      }
    }
  }

  @media only screen and (max-width: $break-md) {
    .information {
      .right {
        display: none;
      }

      .left {
        max-width: 90%;

        .buttons button:first-child {
          margin-right: 10px;
        }
      }
    }
  }

  @media only screen and (max-width: $break-sm) {
    .information .left .buttons button:first-child {
      margin-bottom: 10px;
    }
  }
}
