@import '../../styles/variables';
@import '../../styles/mixin';

.btn-purple-solid {
  background-color: $violet !important;
  border-color: $violet !important;
  border-style: solid;
  color: white;
  border-radius: 10px;
  padding: 8px 25px !important;
  font-weight: 500;
  font: $fs-p;
}

.btn-purple-solid:hover {
  background-color: $white !important;
  color: $violet;
  border-color: $violet !important;
  border-style: solid;
}

.btn-purple-outline {
  background-color: $white;
  color: $violet;
  border-color: $violet !important;
  border-style: solid;
  border-radius: 10px;
  padding: 8px 25px !important;
  font-weight: 500;
  font: $fs-p;
}

.btn-purple-outline:hover {
  background: $violet;
  color: white;
}
