@import '../../styles/variables';
@import '../../styles/mixin';

.header-l {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $white;
  background-image: url('../../assets/images/logo/header-l-background.svg');
  background-repeat: no-repeat;
  background-size: cover;

  .header-l-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: $spacing-160;
    max-width: $break-2xl;
    margin: 0 auto;

    .left {
      p {
        margin: $spacing-040 0;
      }

      mark {
        background-color: $white;
      }

      .buttons button:first-child {
        margin-right: $spacing-040;
      }
    }

    .right {
      img {
        width: 100%;
      }
    }

    @media only screen and (max-width: calc($break-2xl + 320px)) {
      max-width: 100%;
      padding: 0 160px;
    }

    @media only screen and (max-width: calc($break-lg + 100px)) {
      padding: 0 20px;
      grid-template-columns: 1fr;
      gap: $spacing-080;
      margin-top: $spacing-160;
      margin-bottom: $spacing-160;

      .right {
        img {
          max-width: 400px;
        }
      }
    }
  }

  @media only screen and (max-width: calc($break-lg + 100px)) {
    height: fit-content;
  }
}
