@import '../../styles/variables';
@import '../../styles/mixin';

.projects_section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: $spacing-032;
  max-width: $break-2xl;
  margin: 0 auto;
  padding: $spacing-160 0;

  @media only screen and (max-width: calc($break-2xl + 320px)) {
    max-width: 100%;
    padding: 0 160px;
  }

  @media only screen and (max-width: calc($break-lg + 100px)) {
    padding: 0 20px;
    grid-template-columns: 1fr;
    gap: $spacing-080;
    margin-top: $spacing-160;
    margin-bottom: $spacing-160;
  }

  .left {
    h2 {
      margin-top: $spacing-008;
      margin-bottom: $spacing-080;
    }

    .bottom {
      .projects_button {
        color: #9c9b9b;
        border: 2px solid #ebebeb;
        border-radius: 10px;
        background-color: #fff;
        padding: 8px 25px;
        transition: all 0.2s ease-out;
        width: 100%;
        height: 70px;
        text-align: start;

        span {
          font-weight: 500;
        }

        .icon {
          width: 32px;
          height: 32px;
          margin-right: 32px;
        }

        &:hover,
        &.active {
          background-color: $violet;
          border: 2px solid $violet;
          color: $white;
        }
      }
    }
  }

  .right {
    .card {
      padding-top: $spacing-032;
      background-color: #ffffff;
      border-radius: 10px;
      box-shadow: inset 0 -3px 0 $skyline;
      display: none;

      .image {
        width: 60%;
        height: 250px;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: $br-10 $br-10 0 0;
        background-position: center center !important;
        margin-left: 20%;
      }

      .text {
        padding: $spacing-032 $spacing-024;

        h3,
        p {
          margin-bottom: $spacing-016;
        }

        h3 {
          font-weight: 600;
        }
      }

      &.active {
        display: block !important;
      }
    }
  }
}
