// Colors
$black: #000000;
$white: #ffffff;
$purple: #8c1cec;
$dark_purple: #5c0f9e;
$blue: #32cbe4;
$bleach: #f4f4f4;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

$font: 'Manrope', Helvetica, Arial, sans-serif;
$font-body: 'Silka', Helvetica, Arial, sans-serif;
$font-h1: 53px;
$font-h2: 34px;
$font-h3: 28px;
$font-h4: 18px;
$font-large: 18px;
$font-normal: 14px;
$font-small: 12px;

// Font weights
$font-weight-thin: 100;
$font-weight-ultralight: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-demibold: 600;
$font-weight-bold: 700;
$font-weight-ultrabold: 800;
$font-weight-heavy: 900;

// Spacing
$spacing-004: 4px;
$spacing-008: 8px;
$spacing-012: 12px;
$spacing-016: 16px;
$spacing-024: 24px;
$spacing-032: 32px;
$spacing-048: 48px;
$spacing-064: 64px;
$spacing-096: 96px;
$spacing-128: 128px;
$spacing-270: 270px;

// Radius
$border-radius-5: 5px;
$border-radius-10: 10px;

// Effects
$transition: all 0.2s ease-in-out;
$scale: scale(1.05);
