@import './variables';
@import './mixin';

@font-face {
  font-family: 'Silka';
  src: url('../assets/fonts/silka/Silka-Regular.eot');
  src: url('../assets/fonts/silka/Silka-Regular.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/silka/Silka-Regular.woff2') format('woff2'),
    url('../assets/fonts/silka/Silka-Regular.woff') format('woff'),
    url('../assets/fonts/silka/Silka-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Silka';
  src: url('../assets/fonts/silka/Silka-Medium.eot');
  src: url('../assets/fonts/silka/Silka-Medium.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/silka/Silka-Medium.woff2') format('woff2'),
    url('../assets/fonts/silka/Silka-Medium.woff') format('woff'),
    url('../assets/fonts/silka/Silka-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Silka';
  src: url('../assets/fonts/silka/Silka-Semibold.eot');
  src: url('../assets/fonts/silka/Silka-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/silka/Silka-Semibold.woff2') format('woff2'),
    url('../assets/fonts/silka/Silka-Semibold.woff') format('woff'),
    url('../assets/fonts/silka/Silka-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Silka';
  src: url('../assets/fonts/silka/Silka-Bold.eot');
  src: url('../assets/fonts/silka/Silka-Bold.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/silka/Silka-Bold.woff2') format('woff2'),
    url('../assets/fonts/silka/Silka-Bold.woff') format('woff'),
    url('../assets/fonts/silka/Silka-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: $silka;
  color: $black;
}

h1 {
  font-family: $manrope;
  font-size: $fs-h1;
  font-weight: $fw-700;
  line-height: $lh-h1;

  &:after {
    content: '\A';
    width: 9px;
    height: 9px;
    border-radius: 100%;
    background: $skyline;
    display: inline-block;
    margin-left: 2px;
  }
}

h2 {
  font-family: $manrope;
  font-size: $fs-h2;
  font-weight: $fw-700;
  line-height: $lh-h2;

  &:after {
    content: '\A';
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background: $skyline;
    display: inline-block;
    margin-left: 2px;
  }
}

h3 {
  font-family: $manrope;
  font-size: $fs-h3;
  font-weight: $fw-600;
  line-height: $lh-h3;
}

h4 {
  font-family: $manrope;
  font-size: $fs-h4;
  font-weight: $fw-500;
  line-height: $lh-h4;
}

a,
span,
li,
input,
textarea,
button,
select,
p {
  font-size: $fs-p;
  font-weight: $fw-400;
  line-height: 30px;
}

::selection {
  color: #fff;
  background: $violet;
}

h1::selection,
h2::selection,
h3::selection,
img::selection {
  color: #fff;
  background: $midnight;
}

@media only screen and (max-width: 1245px) {
  h1 {
    font-size: $fs-h2;

    &:after {
      width: 8px;
      height: 8px;
    }
  }

  h2 {
    font-size: $fs-h3;

    &:after {
      width: 5px;
      height: 5px;
      margin-left: 2px;
    }
  }

  h3 {
    font-size: $fs-h4;
  }

  h4 {
    font-size: $fs-h5;
  }

  a,
  span,
  li,
  input,
  textarea,
  button,
  select,
  p {
    font-size: $fs-p-small;
  }
}
