@import './variables';
@import './mixin';

@font-face {
  font-family: 'silkaregular';
  src: url('../assets/fonts/silka/silka-regular.eot');
  src: url('../assets/fonts/silka/silka-regular.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/silka/silka-regular.woff2') format('woff2'),
    url('../assets/fonts/silka/silka-regular.woff') format('woff'),
    url('../assets/fonts/silka/silka-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'silkaitalic';
  src: url('../assets/fonts/silka/silka-regularitalic.eot');
  src: url('../assets/fonts/silka/silka-regularitalic.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/silka/silka-regularitalic.woff2') format('woff2'),
    url('../assets/fonts/silka/silka-regularitalic.woff') format('woff'),
    url('../assets/fonts/silka/silka-regularitalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: $silka;
  color: $black;
}

h1 {
  font-size: $fs-h1;
  font-weight: $fw-700;
  line-height: 60px;
}

h2 {
  font-size: $fs-h2;
  font-weight: $fw-700;
  line-height: 40px;
}

h3 {
  font-size: $fs-h3;
  font-weight: $fw-400;
  line-height: 34px;
}

h4 {
  font-size: $fs-h4;
  font-weight: $fw-400;
  line-height: 30px;
}

a,
strong,
span,
li,
input,
textarea,
button {
  font-size: $fs-p;
  font-weight: $fw-400;
  line-height: 30px;
}

p {
  font-size: $fs-p;
  font-weight: $fw-400;
}

input,
textarea,
select {
  font-family: $silka;
  font-weight: $fw-400;
}
