@import './variables';
@import './mixin';

body {
  font-family: $font-body;
  color: $black;
}

h1 {
  font-size: $font-h1;
  font-weight: $font-weight-bold;
  line-height: 60px;
}

h2 {
  font-size: $font-h2;
  font-weight: $font-weight-bold;
  line-height: 40px;
}

h3 {
  font-size: $font-h3;
  font-weight: $font-weight-regular;
  line-height: 34px;
}

h4 {
  font-size: $font-h4;
  font-weight: $font-weight-regular;
  line-height: 30px;
}

a,
strong,
span,
li,
input,
textarea,
button {
  font-size: $font-normal;
  font-weight: $font-weight-regular;
  line-height: 30px;
}

p {
  font-size: $font-normal;
  font-weight: $font-weight-regular;
}

input,
textarea,
select {
  font-family: $font-body;
  font-weight: $font-weight-regular;
}
