@import '../../styles/variables';
@import '../../styles/mixin';

.ContactCardS {
  background-color: $bleach;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: $spacing-024 $spacing-024;
  border-radius: 20px;
  min-width: 100%;

  .left {
    width: 52px;
    height: 52px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(116, 21, 197, 0.2);
    padding: auto;

    svg {
      color: $midnight;
      height: 22px;
      position: relative;
      padding: 0 $spacing-016;
    }
  }

  .middle {
    padding: 0 $spacing-024;
  }

  .right {
    color: $midnight;
    padding: 0 $spacing-016;
    text-align: right;
    margin-left: auto;
  }
}
