@import '../../styles/variables';
@import '../../styles/mixin';

.page {
  height: 100%;
  min-height: 100vh;
  overflow: hidden;

  .section {
    padding: $spacing-048;
  }

  .core-values {
    max-width: $break-2xl;
    margin: $spacing-160 auto;

    h2 {
      margin-top: $spacing-008;
    }

    .core-values-cards {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: $spacing-040;
      margin-top: $spacing-080;

      h3 {
        margin: $spacing-024 0;
      }

      @media only screen and (max-width: $break-2xl) {
        grid-template-columns: 1fr;
      }
    }
  }
}
