@import '../../styles/variables';
@import '../../styles/mixin';

.icon {
  position: relative;
  font-size: $fs-icon;
  height: calc($fs-icon + 10px);

  .icon-front {
    position: absolute;
    top: 10px;
    left: 0;
    color: rgb(255 255 255 / 60%);
    filter: drop-shadow(0 0 6px rgb(0 0 0 / 25%));
  }

  .icon-back {
    position: absolute;
    top: 0;
    left: 15px;
    color: $skyline;
  }
}
