@import '../../styles/variables';
@import '../../styles/mixin';

.contact {
  background-color: $white;

  .contact-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60vh;
    max-width: $break-2xl;
    margin: 0 auto;

    .left {
      max-width: 30%;
      display: flex;
      flex-direction: column;

      p {
        margin: $spacing-024 0;
      }
    }

    .right {
      max-width: 50%;
      display: flex;
      flex-direction: column;
    }

    .buttons button:first-child {
      margin-right: $spacing-024;
    }
  }
}
