@import '../../styles/variables';
@import '../../styles/mixin';

.contact {
  background-color: $white;
  padding: $spacing-160 0;

  .contact-area {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $spacing-160;
    align-items: center;
    max-width: $break-2xl;
    margin: 0 auto;

    .left {
      p {
        margin: $spacing-040 0;
      }
    }

    .buttons button:first-child {
      margin-right: $spacing-024;
    }
  }
}
