@import '../../styles/variables';
@import '../../styles/mixin';

.footer {
  width: 100%;
  background: $white;
  bottom: 0;
  display: flex;
  padding: 0 $spacing-048;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid $bleach;

  .footer-left {
    svg {
      height: 22px;
      margin-top: 5px;
    }
  }

  .footer-middle {
    display: flex;

    .menu-item-footer {
      position: relative;
      color: $light;
      padding: 0 $spacing-016;

      &:hover {
        color: $violet;
      }
    }
  }

  .footer-right {
    display: flex;
    align-items: center;
    height: 100%;

    svg {
      color: $violet;
      height: 22px;
      position: relative;
      padding: 0 $spacing-016;

      &:hover {
        color: $violet-hover;
      }
    }

    .footer-right-arrow {
      border-left: 2px solid $bleach;
      border-right: 2px solid $bleach;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: $spacing-016;
    }
  }
}

.copyright {
  width: 100%;
  background: $white;
  color: $light;
  bottom: 0;
  height: 70px;
  flex-direction: column;
  display: flex;
  padding: 0 $spacing-048;
  justify-content: center;
  align-items: center;

  svg {
    color: $violet;
    height: 22px;
    position: relative;
    padding: 0 $spacing-016;
  }
}

.footer-right-arrow-sm {
  display: none;
}

@media only screen and (max-width: $break-lg) {
  .footer {
    padding: 0;
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: column;
  }

  .footer-left {
    padding: $spacing-048 $spacing-048 0;
  }

  .footer-middle {
    flex-direction: column;
    justify-content: flex-start;
    padding: $spacing-048;
  }

  .menu-item-footer {
    padding: 0 !important;
  }

  .footer-right {
    padding: $spacing-048;
    border-top: 2px solid $bleach;
    .footer-right-arrow {
      display: none;
    }
  }

  .footer-right-arrow-sm {
    display: block;
    margin-left: auto;
  }

  .copyright {
    padding: $spacing-048;
    p {
      margin-right: auto;
    }
  }
}
