@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Silka;
  src: url('./assets/fonts/silka/Silka-Regular.eot');
  src: url('./assets/fonts/silka/Silka-Regular.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/silka/Silka-Regular.woff2') format('woff2'),
    url('./assets/fonts/silka/Silka-Regular.woff') format('woff'),
    url('./assets/fonts/silka/Silka-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Silka;
  src: url('./assets/fonts/silka/Silka-Medium.eot');
  src: url('./assets/fonts/silka/Silka-Medium.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/silka/Silka-Medium.woff2') format('woff2'),
    url('./assets/fonts/silka/Silka-Medium.woff') format('woff'),
    url('./assets/fonts/silka/Silka-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Silka;
  src: url('./assets/fonts/silka/Silka-Semibold.eot');
  src: url('./assets/fonts/silka/Silka-Semibold.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/silka/Silka-Semibold.woff2') format('woff2'),
    url('./assets/fonts/silka/Silka-Semibold.woff') format('woff'),
    url('./assets/fonts/silka/Silka-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Silka;
  src: url('./assets/fonts/silka/Silka-Bold.eot');
  src: url('./assets/fonts/silka/Silka-Bold.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/silka/Silka-Bold.woff2') format('woff2'),
    url('./assets/fonts/silka/Silka-Bold.woff') format('woff'),
    url('./assets/fonts/silka/Silka-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@layer components {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-bleach font-silka text-base leading-relaxed;
  }

  h1 {
    @apply font-manrope text-5xl font-bold leading-relaxed md:text-6xl;

    &::after {
      @apply ml-0.5 inline-block h-2 w-2 rounded-full bg-skyline content-['\A'];
    }
  }

  h2 {
    @apply font-manrope text-4xl font-bold leading-relaxed xl:text-5xl;

    &::after {
      @apply ml-0.5 inline-block h-1.5 w-1.5 rounded-full bg-skyline content-['\A'];
    }
  }

  h3 {
    @apply font-manrope text-xl font-bold leading-relaxed xl:text-2xl;
  }

  h4 {
    @apply font-manrope text-xl font-medium leading-relaxed;
  }

  img {
    @apply object-cover;
  }

  ::selection {
    @apply bg-violet text-white;
  }

  h1::selection,
  h2::selection,
  h3::selection,
  img::selection {
    @apply bg-midnight text-white;
  }

  mark {
    @apply bg-white;
  }

  .cms-block {
    @apply relative px-4 py-20 2xl:py-40;

    .container {
      @apply mx-auto;
    }
  }
}
